# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ClearServer.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\drdre\source\repos\ClearServer\.idea\.idea.ClearServer.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
