<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Документ без названия</title>
<link href="css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
</head>

<style>
.back {
background:black;
	width: 1000px;
	height: 1000px;
	display: table-cell;
	vertical-align: middle;
}
</style>

<body class="back">
<div  class="">
  <form id="imgForm">
    <div>
      <label for="file">Выберите файл</label>
      <input accept="image/*" id="img" name="file" type="file">
    </div>
    <div>
      <button type="button" onClick="previewFile()" id="upl">Submit</button>
    </div>
  </form>
  <div align="center">
    <button type="button"  data-toggle="popover"  data-placement="bottom" data-content="asdasdas" class="skillBadge nonSelectable" >My Skill</button>
  </div>
</div>
<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>

<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/serializer.js"></script>
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap-4.4.1.js"></script> 
<script src="js/Transitions.js"></script>
</body>
</html>
