<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Документ без названия</title>
<link href="css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
</head>
	<body>
		
		
		
		<!-- You can initialize all popovers on the page by their data-toggle attribute like below: 
$(function () {
  $('[data-toggle="popover"]').popover()
}) -->
<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on bottom
</button>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	 <script src="js/jquery-3.4.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.4.1.js"></script>
    <script src="js/Transitions.js"></script>
</body>
</html>
